<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffeebara.cafe.mapper.CafeMapper">

  <select id="findByKakaoPlaceId" parameterType="string" resultType="map">
    SELECT
      kakao_place_id AS kakaoPlaceId,
      place_name AS placeName,
      category_name AS categoryName,
      phone,
      address_name AS addressName,
      road_address_name AS roadAddressName,
      longitude,
      latitude,
      place_url AS placeUrl,
      last_fetched_at AS lastFetchedAt,
      next_refresh_at AS nextRefreshAt
    FROM cafe
    WHERE kakao_place_id = #{kakaoPlaceId}
  </select>

  <insert id="insert" parameterType="map">
    INSERT INTO cafe (
      kakao_place_id,
      place_name,
      category_name,
      phone,
      address_name,
      road_address_name,
      longitude,
      latitude,
      place_url,
      last_fetched_at,
      next_refresh_at
    ) VALUES (
      #{kakaoPlaceId},
      #{placeName},
      #{categoryName},
      #{phone},
      #{addressName},
      #{roadAddressName},
      #{longitude},
      #{latitude},
      #{placeUrl},
      #{lastFetchedAt},
      #{nextRefreshAt}
    )
  </insert>

  <update id="updateByKakaoPlaceId" parameterType="map">
    UPDATE cafe
    SET
      place_name = #{placeName},
      category_name = #{categoryName},
      phone = #{phone},
      address_name = #{addressName},
      road_address_name = #{roadAddressName},
      longitude = #{longitude},
      latitude = #{latitude},
      place_url = #{placeUrl},
      last_fetched_at = #{lastFetchedAt},
      next_refresh_at = #{nextRefreshAt}
    WHERE kakao_place_id = #{kakaoPlaceId}
  </update>

</mapper>
